/* RICHMEDIA - DESKTOP */
* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}
body {
  /* background: orange; */
}
.alisveris-btn {
  background: url(../img/alisveris-btn.png?) no-repeat;
  background-size: 100%;
  width: 200px;
  height: 55px;
  display: block;
}
.m-logo {
  background: url(../img/m-logo.png?) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  transition: opacity .5s linear;
}
.card {

  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.card.open {
  background: transparent;
  background-size: 100%;
}
/* Home Styles */
#home-wrapper {
  position: relative;
}
#home-wrapper .frame-container {
  width: 1050px;
  height: 614px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#home-wrapper .text1 {
  background: url(../img/desktop-home-text1.png?v2) center 0 no-repeat;
  background-size: 606px;
  position: absolute;
  top: 0px;
  left: -40px;
  height: 606px;
  width: 606px;
  display: block;
}
#home-wrapper .text2 {
  background: url(../img/desktop-home-text2.png?) center 0 no-repeat;
  background-size: 606px;
  position: absolute;
  top: -35px;
  left: -40px;
  height: 606px;
  width: 606px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s linear;
}
#home-wrapper .top-shapes {
  background: url(../img/desktop-home-shapes.png?) center 0 no-repeat;
  background-size: 1366px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 313px;
  pointer-events: none;
}
#home-wrapper .card {
  width: 100px;
  height: 120px;
  margin: 3px;
}
#home-wrapper .cards-div {
  position: absolute;
  right: 34px;
  top: 110px;
  width: 320px;
  font-size: 0;
}
#home-wrapper .m-logo {
  width: 71px;
  height: 65px;
  margin: 7px 14px 0 21px;
}
#home-wrapper .alisveris-btn {
  position: absolute;
  right: 95px;
  top: 516px;
  transition: all .5s linear;
  opacity: 0;
  visibility: hidden;
}

/** Flip card style **/
.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 100px;
    height: 120px;
    opacity: 0;
    transition: opacity .3s linear;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.flip-card.hover .flip-card-inner,
.flip-card.selected .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateY(180deg);
}
.flip-card-front{
    background: url(../img/card.png?) no-repeat;
    background-size: 100%;
}
.flip-card.card {
    background: transparent;
}
.card.open{
    margin: 0 !important;
}

/* SINGLE PAGE STYLES */
#single-wrapper {
  width: 300px;
  margin: 0 auto;
  position: relative;
  height: 750px;
}

#single-wrapper .text1 {
  background: url(../img/desktop-single-text1.png?v2) no-repeat;
  background-size: 100%;
  width: 298px;
  height: 289px;
  position: relative;
  top: 0;
  margin-bottom: 40px;
}
#single-wrapper .text2 {
  background: url(../img/desktop-single-text2.png?) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 378px;
  position: relative;
  top: 60px;
  margin-bottom: 20px;
  transition: all .5s linear;
  opacity: 0;
  height: 0;
  display: block;
}
#single-wrapper .card {
  width: 93px;
  height: 112px;
  margin: 3px;
}
#single-wrapper .cards-div {
  position: relative;
  width: 300px;
  font-size: 0;
}
#single-wrapper .m-logo {
  background: url(../img/m-logo.png?) center 0 no-repeat;
  background-size: 100%;
  width: 65px;
  height: 60px;
  display: inline-block;
  margin: 7px 14px 0 21px;
  vertical-align: middle;
}
#single-wrapper .alisveris-btn {
  width: 200px;
  height: 55px;
  display: block;
  margin: 120px auto 0 auto;
  opacity: 0;
  transition: all .5s linear;
  visibility: hidden;
}

/** Game Over **/

body.game-over #home-wrapper .text2,
body.game-over #home-wrapper .alisveris-btn,
body.game-over #single-wrapper .alisveris-btn {
    opacity: 1;
    visibility: visible;
}
body.game-over .cards-div .flip-card{
    pointer-events: none;
}
/* body.game-over #single-wrapper .cards-div{
    transition: all .5s linear;
    opacity: 0;
    height: 0;
    visibility: hidden;
} */
body.game-over #single-wrapper .text2{
    height: 378px;
    opacity: 1;
}
body.game-over #single-wrapper .text1,
body.game-over #home-wrapper .text1,
body.game-over #single-wrapper .cards-div {
    display: none;
}
